.plugstable td,
.plugstable th
{
  /* font-size: 1.5rem; */
  font-size: 60%;
}

.bigcode code
{
  /* font-size: 1.5rem; */
  font-size: 60%;
  line-height: 1rem;
}

.hidden
{
  display: none;
}

.grayed
{
  opacity: 0.3;
  font-style: italic !important;
}

.red-text
{
  color: red !important;
  border-bottom-color: inherit !important;
}

.green-text
{
  color: #17ff2e !important;
  border-bottom-color: inherit !important;
}

/* .li-gulp
{
  list-style-image: url('asset/1.png');
} */

/* .li-grunt
{
  list-style-image: url('asset/1.png');
} */
